body{
    background-color: cornsilk;
}
.container{
    margin: 3em auto;
    background-color: #fff;
    width: 25%;
    font-family: 'Courier New', Courier, monospace;
    padding: 1em;
    text-align: center;
}
h1{
    font-size: 45px;
    font-weight: 800;
    color: red;
}
input {
    height: 25px;
    padding: 3px;
    border-radius: 3px;
}
.validate{
    height: 35px;
    padding: 5px;
}
#play-again{
    height: 35px;
    padding: 5px;
}

@media (min-width:700px) and (max-width:950px){
    .container{
        width: 33%;
    }
}